<a href="https://colab.research.google.com/github/varaprasad1016/the-first-one/blob/vara/3rd_sem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#write a python program that create a class named parrot with attributes name and age also declare a class attribute named species. 
class parrot:
    species = "bird"
    def __init__(self,na,ag):
        self.name=na
        self.age=ag
        
#creation of objects
o1=parrot("Nani",20)
o2=parrot("Banda",15)

print("Nani is a {}".format(o1.__class__.species))
print("Banda is a {}".format(o1.__class__.species))

#Acess instance attributes
print("{} is {} years old".format(o1.name,o1.age))
print("{} is {} years old".format(o2.name,o2.age))

Nani is a bird
Banda is a bird
Nani is 20 years old
Banda is 15 years old

In [2]:
#write a python program with name of class rectangle constructed by length and width and declare a method which will compute area of rectangle.
class rectangle:
    def __init__(self,l,w):
        self.length=l
        self.width=w
    def rarea(self):
        return self.length*self.width
    
#creation of objects
r1=rectangle(12,10)
r2=rectangle(15,2)
print(r1.rarea())
print(r2.rarea())

120
30

In [ ]:
#write a python program class named circle constructed by a radius and two methods which will compute area and perimeter of a circle.
class Circle():  
    def __init__(self, r):  
        self.radius = r  
  
    def area(self):  
        return self.radius**2*3.14  
      
    def perimeter(self):  
        return 2*self.radius*3.14  
C1 = Circle(7)
print(C1.area())  
print(C1.perimeter())

153.86
43.96

In [6]:
#write a python program to create a class named Employee with Empcount as class attribute, instance attribute name and salary.
#also write two  methods to display the details of employee and count the number of employees.
class employee:
    empcount = 0
    def __init__(self,na,sal):
        self.name = na
        self.salary = sal
        employee.empcount = employee.empcount+1
    def disp_count():
        print("Total Employees =",employee.empcount)
    def disp_emp(self):
        print("Name :",self.name,",Salary:",self.salary)
#creating objects
e1 = employee("Nani",50000)
e2 = employee("Banda",40000)
e3 = employee("Tommy",15000)

e1.disp_emp()
e2.disp_emp()
e3.disp_emp()
employee.disp_count()

Name : Nani ,Salary: 50000
Name : Banda ,Salary: 40000
Name : Tommy ,Salary: 15000
Total Employees = 3

In [7]:
#write a python program to calculate the arclength of an angle by assigning values to the radius and angle data attributes of the class arc length.
#arc lenth :2*pi*r*angle/360 #class is logical entity
import math
class arclength:
    def __init__(self):
        self.radius=0
        self.angle=0 #defalutized constructor (not using any parameters intilizing values with zeros)
    def compute(self): 
        result = 2*math.pi*self.radius*self.angle/360
        print(f"length of arc is{result}")
        
#creating objects it is an physical entity
o1=arclength()
o1.radius = 10
o1.angle = 45 
print(f"Angle is {o1.angle}")
print(f"Radius is {o1.radius}")
o1.compute()
o2=arclength()
o2.radius = 15
o2.angle = 39
o2.compute()

Angle is 45
Radius is 10
length of arc is7.853981633974483
length of arc is10.210176124166827

In [10]:
#write a python program to simulate bank account with support for deposit money,withdraw money and show balance operations
class account:
    def __init__(self,na): #parameterized constructor
        self.name = na
        self.balance = 0
        
    def show(self):
        print("{} has a balance of {} rupees".format(self.name,self.balance))
    def withdraw(self,amt):
        if amt>self.balance:
            print("you dont have sufficient amount")
        else:
            self.balance-=amt
            
    def deposit(self,amt):
        self.balance+=amt
        
def main():
    o1=account("Gayathri")
    o2=account("jagan")
    o1.show()
    o2.show()
    o1.deposit(10000)
    o1.show()
    o1.withdraw(400)
    o1.show()
    o2.deposit(5000)
    o2.show()
    o2.withdraw(1000)
    o2.show()
    o2.withdraw(7000)
    o2.show()

if  __name__ == "__main__":
    main()

Gayathri has a balance of 0 rupees
jagan has a balance of 0 rupees
Gayathri has a balance of 10000 rupees
Gayathri has a balance of 9600 rupees
jagan has a balance of 5000 rupees
jagan has a balance of 4000 rupees
you dont have sufficient amount
jagan has a balance of 4000 rupees

In [ ]:
#write a python program to create a class with name car with instance attributes namely make,model,colour,year and price.use constructor with default parameters andimplemdent a method called show() to display the details of car.
#Example program for constructor with default parameters
class car:
    def __init__(self,make="Ford",model="mustang",color="Black",year=1996,price=7500000):
        self.make=make
        self.model=model
        self.color=color
        self.year=year
        self.price=price
    def show(self):
        print("Make="+self.make,end="\n")
        print("Model="+self.model,end="\n")
        print("Colour="+self.color,end="\n")
        print("Year=",self.year,end="\n")
        print("Price=",self.price,end="\n")
c1=car()
c1.show()
c2=car("Toyota","Innova")
c2.show()
c3=car("Maruthi","Ertiga","White",2020,1200000)
c3.show()

Make=Ford
Model=mustang
Colour=Black
Year= 1996
Price= 7500000
Make=Toyota
Model=Innova
Colour=Black
Year= 1996
Price= 7500000
Make=Maruthi
Model=Ertiga
Colour=White
Year= 2020
Price= 1200000

In [ ]:
#Question-1:
class Bike:
    def __init__(self,make="ktm",color="blue",price=89.99):
        self.make=make
        self.color=color
        self.price=price
    def show(self):
        print("Make="+self.make,end="\n")
        print("Color="+self.color,end="\n")
        print("Price=",self.price,end="\n")
testOne=Bike()
testOne.show()
testTwo=Bike("Royal Enfield","purple",25.0)
testTwo.show()

Make=ktm
Color=blue
Price= 89.99
Make=Royal Enfield
Color=purple
Price= 25.0

In [ ]:
#question-2
class AppleBasket:
    def __init__(self,apple_quantity=4,apple_color="red"):
        self.apple_quantity=apple_quantity
        self.apple_color=apple_color
    def increase(self):
        self.apple_quantity+=1
    def __str__(self):
        return "a basket of {} {} apples".format(self.apple_quantity,self.apple_color) 

t=AppleBasket()
print(t)

t.increase()
print(t)

a basket of 4 red apples
a basket of 5 red apples

In [ ]:
#question-3
class BankAccount:
    def __init__(self,name):
        self.name = name
        self.balance = 100
    def deposit(self,amt):
        self.balance+=amt
    def __str__(self):
        return "Your account, {} , has {} dollars.".format(self.name,self.balance)        
t1=BankAccount("Bob")
print(t1)

#t1.deposit(100)
#print(t1)

Your account, Bob , has 100 dollars.

In [ ]:
#write a python program that demonstrates passing object as parameter to a outside function.(class)
class car:
    def __init__(self,make="Audi",model="Top line",color = "red",year=1989,price = 9500000):
        self.make=make
        self.model=model
        self.color=color
        self.year=year
        self.price=price
def show(self):
    print("Make="+self.make,end = "\n")
    print("Model="+self.model,end = "\n")
    print("Color="+self.color,end = "\n")
    print("Year=",self.year,end = "\n")
    print("Price=",self.price,end = "\n")
c1=car()
show(c1) 
c2=car("ford","feista","red",2019,200000)
show(c2)
c3=car("toyota","innova")
show(c3)

Make=Audi
Model=Top line
Color=red
Year= 1989
Price= 9500000
Make=ford
Model=feista
Color=red
Year= 2019
Price= 200000
Make=toyota
Model=innova
Color=red
Year= 1989
Price= 9500000

In [ ]:
#given the coordinates (x,y) of a center of a circle and its radius write a python program to determine whether the point lies inside the circle or outside the circle or on the circle.

In [ ]:
#Question -1 
import datetime # we will use this for date objects

class Person:

    def __init__(self, name, surname, birthdate, address, telephone, email):
        self.name = name
        self.surname = surname
        self.birthdate = birthdate

        self.address = address
        self.telephone = telephone
        self.email = email

    def age(self):
        today = datetime.date.today()
        age = today.year - self.birthdate.year

        if today < datetime.date(today.year, self.birthdate.month, self.birthdate.day):
            age -= 1

        return age

person = Person(
    "Gayathri",
    "Nukala",
    datetime.date(2001, 10, 26), # year, month, day
    "No. 12 Short Street, Greenville",
    "999 123 143",
    "gayathrinukala@1.com")

print(person.name)

print(person.age())

Gayathri
18

In [ ]:
#Question-2
class Numbers:
    MULTIPLIER = 2

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def add(self):
        return self.x + self.y

    @classmethod
    def multiply(cls, a):
        return cls.MULTIPLIER * a

    @staticmethod
    def subtract(b, c):
        return b - c

    @property
    def value(self):
        return (self.x, self.y)

    @value.setter
    def value(self, t):
        self.x=t[0]
        self.y=t[1]

    @value.deleter
    def value(self):
        self.x=None
        self.y=None
        
        
obj1=Numbers(1,2)
print('Numbers :',obj1.value)
print('Add :',obj1.add())

obj1.value=(3,4)
print('Numbers :',obj1.value)
print('Add :',obj1.add())

del obj1.value
print('Numbers :',obj1.value)

print('Multiply 4 with 2 : ',Numbers.multiply(4))

print('Subtract 4 from 2 :',Numbers.subtract(2,4))

Numbers : (1, 2)
Add : 3
Numbers : (3, 4)
Add : 7
Numbers : (None, None)
Multiply 4 with 2 :  8
Subtract 4 from 2 : -2

In [ ]:
#write a python program to compute the end time of an opera,while start time and duration are given.
class time:
    def __init__(self,h,m,s):
        self.h=h
        self.m=m
        self.s=s
    def add_time(self,duration):#method (the obj which invokes  called owner object (self.))
        o_h=self.h+duration.h
        o_m=self.m+duration.m (#o_h, o_m, o_s local variables of add time method in class)
        o_s=self.s+duration.s
        while o_s>=60:
            o_s-=60
            o_m+=1
            while o_m>=60:
                o_m-=60
                o_h+=1
        print(f"Opera ends at{o_h} : {o_m} :{o_s}")
#creation of objcts
def main():
    o_start = time(10,30,30)
    o_duration = time(2,45,50)
    o_start.add_time(o_duration)
if __name__=="__main__":
    main()

Opera ends at13 : 16 :20

In [ ]:
#write a python program to create class attribute called counter and increment this attribute every time a new instance is created. and also decreament this attribute by 1 evry time when instance is  destroyed.
class sample:
    counter=0
    def __init__(self):
        type(self).counter+=1
    def __del__(self):
        type(self).counter-=1
#creation of objects
if __name__=="__main__":
    x=sample()
    print("Number of objects created="+str(sample.counter))
    y=sample()
    print("Number of objects created="+str(sample.counter))
    z=sample()
    print("Number of objects created="+str(sample.counter))
    del x
    print("Number of objects ="+str(sample.counter))
    del y
    print("Number of objects ="+str(sample.counter))

Number of objects created=1
Number of objects created=2
Number of objects created=3
Number of objects =2
Number of objects =1

In [ ]:
#example on private variable
#write a python script that demonstrates a private variable
class sample: #logical entity it doesnot occupy memory
    def __init__(self):
        self.a=10 #public variable
        self.__b=20 #private variable initialize with __
        
    def display(self):
        print(f"{self.__b} is accessed with in method of class")
def main():
    s=sample() #no parametrs so called defaultized cnstructer
    print(s.a)
    #print(s.__b)
    s.display() # s is owner object
if __name__=="__main__":
    main()

10
20 is accessed with in method of class

In [ ]:
#INHERITANCE
#is a mechanism used in oop concept to define a new class from the existing class 
#the class which is used to create a new class is known as "base class" or "parent class"
#the class which creates from another class is known as "derived class"or "child class"
# 1.single inheritance 2.multi level inheritence 3.multiple inheritence
#single inheritence: class creates one sub class or class creates one child class.
#a child class creates more than 1 called mutliple inheritence.
#a->b->c known as multi level inheritence

In [ ]:
#Example:
#write a python program to create a class named person with instance attributes first name,last name derive a child class called "student" to access the members of parent class